
input{
  display: block;
  margin: auto;
  width: 50vw;
  padding: 1%;
}

post-title {
  display:block;
  width: 100%;
  padding:0;
  border-width:0;
}

p{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

textarea{
  display: block;
  margin: auto;
  width: 50vw;
  padding: 1%;
}

.buttonRow{
  padding-left: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}

#exitButtons{
  padding-left: 10%;
}