<div class="outterPost">
    <div class="blogTitle">
        <mat-card>
            <mat-card-title>
                Blog Title
            </mat-card-title>
        </mat-card>
    </div>
    <div class="blogAuthor">
        <mat-card>
            <mat-card-title>
                Blog Author
            </mat-card-title>
        </mat-card>
    </div>
    <div class="blogBody">
        <mat-card>
            Body
        </mat-card>
    </div>
    <div class="blogPictures">
        <mat-card>
            Photos
        </mat-card>
    </div>
</div>